version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: mrs_mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
  api:
    build:
      context: .
    container_name: mrs_api
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=8000
      - MONGO_URI=mongodb://mongo:27017/mrs_db
      - JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - PEPPER_SECRET=${PEPPER_SECRET}
    depends_on:
      - mongo
    ports:
      - '8000:8000'
volumes:
  mongo_data:
